@model planerApp.Models.Event       


@{
    ViewBag.Title = "ChangeE";
}

<h3 class="text-center">Змінити подію</h3>
<div class="card " style=" margin: 5%">
    <div class="card-body" style=" margin: 1%">
        <form method="post" style="width: 100%">
            <div class="form-group align-content-center">
                <h5>Назва</h5>
                <p>@Html.DisplayFor(model => model.e_title)</p>
                <input class="form-control" style="width:100%" type="text" name="e_title" />
            </div>
            <div class="form-group">
                <h5>Текст</h5>
                <p>@Html.DisplayFor(model => model.e_date)</p>
                <input class="form-control-lg w-100" type="date" name="e_date" />
            </div>
            <input class="form-control" type="submit" value="Змінити" />
        </form>
    </div>
</div>

