
@{
    ViewBag.Title = "ChangeN";
}

<div>
    <h2>Змінити нотатку</h2>
    <form method="post">
        <table>
            <tr>
                <td>Назва</td>
                <td><input type="text" name="title" /></td>
            </tr>
            <tr>
                <td>Текст</td>
                <td><input type="text" name="note" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add" /></td>
            </tr>
        </table>
    </form>
</div>

