
@{
    ViewBag.Title = "Change";
}



<div>
    <h2>Додати нотатку</h2>
    <form method="post">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title" /></td>
            </tr>
            <tr>
                <td>Notate</td>
                <td><input type="text" name="note" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"/></td>
            </tr>
        </table>
    </form>
</div>

