
@{
    ViewBag.Title = "CreateE";
}

<div>
    <h2>Додати подію</h2>
    <form method="post">
        <table>
            <tr>
                <td>Назва подіїї</td>
                <td><input type="text" name="e_title" /></td>
            </tr>
            <tr>
                <td>Дата</td>
                <td><input type="date" name="e_date" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add" /></td>
            </tr>
        </table>
    </form>
</div>


