@model planerApp.Models.Event

@{
    ViewBag.Title = "DeleteE";
}

<h3 class="text-center">Видалити подію</h3>
<div class="card " style=" margin: 5%">
    <div class="card-body" style=" margin: 1%">
        <form method="post" style="width: 100%">
            <div class="form-group align-content-center">
                <h5>Назва</h5>
                <p>@Html.DisplayFor(model => model.e_title)</p>
            </div>
            <div class="form-group">
                <h5>Дата</h5>
                <p>@Html.DisplayFor(model => model.e_date)</p>
            </div>
            <input class="form-control" type="submit" value="Видалити" />
        </form>
    </div>
</div>


@using (Html.BeginForm())
{
    <input type="submit" value="Видалити">
}

