@{
    ViewBag.Title = "Politics";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1>Політика конфіденційності</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 content">
            <p><strong>1. Загальні положення</strong></p>
            <p class="text-align-justify">Управління даним веб-сайтом&nbsp;<a href="https://oa.edu.ua/">https://oa.edu.ua/</a>&nbsp;(далі – «Веб-сайт») здійснюється юридичною особою «Національний Університет "Острозька академія"», код ЄДРПОУ 22554101, яка зареєстрована і діє відповідно до вимог законодавства України (далі - «Університет», «ми» або «нас»)</p>
            <p class="text-align-justify">Університет з повагою&nbsp;ставиться до конфіденційної інформації відвідувачів Веб-сайту, в зв'язку з чим, Університет прагне захищати конфіденційність персональних даних (відомостей чи сукупність відомостей про фізичну особу, яка ідентифікована або може бути конкретно ідентифікована), тим самим створивши і забезпечивши максимально комфортні умови використання сервісів Веб-сайту кожному користувачеві.</p>
            <p class="text-align-justify">Використання Веб-сайту підтверджує вашу згоду з цією Політикою Конфіденційності. У разі відсутності згоди з Політикою конфіденційності, користувач не повинен використовувати даний Веб-сайт.&nbsp;Обробка персональних даних здійснюється відповідно до Закону України "<a href="https://zakon.rada.gov.ua/laws/show/2297-17" target="_new">Про захист персональних даних</a>".&nbsp;Із запитаннями щодо цієї Політики, ви можете зв'язатися за адресою електронної пошти:&nbsp;<a href="mailto:web@oa.edu.ua">web@oa.edu.ua</a>.</p>
            <p class="text-align-justify">Для зручності користування, Веб-сайт Університету&nbsp;може містити посилання на інші веб-сайти. Університет не несе&nbsp;відповідальності за політику конфіденційності або зміст цих сайтів. Ця політика поширюється тільки на інформацію, зібрану на Веб-сайті Університету та веб-додатки, що працюють у межах домену oa.edu.ua. Окремі веб-сайти, мобільні додатки та портали структурних підрозділів Університету можуть мати окрему Політику конфіденційності, у випадку чого дана Політика конфіденційності на них не поширюється.</p>
            <p><strong>2. Типи даних, що збираються</strong></p>
            <p class="text-align-justify">На веб-сайті реалізована стандартна технологія підрахунку кількості відвідувачів і переглядів сторінок, оцінки технічних можливостей хост-сервірують, рейтингів, відвідуваності сторонніх організацій. Дана інформація дозволяє нам вести облік активності відвідувачів, актуальності представленого контенту, його затребуваності, складати характеристику відвідуваною аудиторії. Також подібний збір даних допомагає нам мати у своєму розпорядженні сторінки і матеріал найбільш зручним для користувачів чином, забезпечувати ефективну взаємодію і бездоганну роботу з браузерами відвідувачів</p>
            <p class="text-align-justify">Під час відвідування сторінок Веб-сайту здійснюється збір таких даних:</p>

            <ul>
                <li class="text-align-justify">технічні дані;&nbsp;ідентифікатор сесії, IP-адреса та відомості її геолокацію;</li>
                <li class="text-align-justify">завантажені користувачем дані:&nbsp;інформація, яку ви добровільно надаєте, коли&nbsp;ви зв’язуєтесь з нами, завантажуєте або іншим чином надаєте Університету.</li>
            </ul>
            <p class="text-align-justify">В межах домену oa.edu.ua, в нас реалізована Google авторизація. Ми збираємо такі дані: </p>
            <ul>
                <li class="text-align-justify">електронна пошта;</li>
                <li class="text-align-justify">ваші загальнодоступні дані. </li>
            </ul>
            <p class="text-align-justify">Зібрані дані таким чином, можуть використовуватися у випадках прописаних у пункті № 5, цієї політики.</p>
            <p><strong>3. Цілі збору та обробки даних</strong></p>
            <p class="text-align-justify">Дані збираються для забезпечення наступних цілей:</p>
            <ul>
                <li class="text-align-justify">надання запитаної користувачем інформації;</li>
                <li class="text-align-justify">надання актуальних для користувачів підрозділів та географічних регіонів&nbsp;новин та сповіщень;</li>
                <li class="text-align-justify">надання участі в інтерактивних функціях Веб-сайту Університету;</li>
                <li class="text-align-justify">аналіз знеособленої&nbsp;інформації та трафіку, для покращення якості роботи Веб-сайту,&nbsp;мобільних та веб-додатків Університету;</li>
                <li class="text-align-justify">виявлення, запобігання та оперативне вирішення технічних проблем.</li>
            </ul>
            <p class="text-align-justify"><strong>4. Процес збору даних</strong></p>
            <p class="text-align-justify">Шляхи отримання даних:</p>
            <ul>
                <li class="text-align-justify">при безпосередній пересилці за допомогою електронної пошти, заповнення форм та завантаження файлів;</li>
                <li class="text-align-justify">при відвідуванні сторінок Веб-сайту Університету чи здійсненні автентифікації за допомогою Oauth;</li>
            </ul>
            <p><strong>5.&nbsp;Процеси збереження, використання даних та їх надання&nbsp;третім особам</strong></p>
            <p class="text-align-justify">Ми не надаємо будь-яку Вашу особисту інформацію третім сторонам на правах послуги. Ми можемо поширювати особисту інформацію, яку ми збираємо або ви надаєте, відповідно до&nbsp;зазначеного&nbsp;в даному документі:</p>
            <ul>
                <li class="text-align-justify">виконання&nbsp;цілей, заради яких ви їх&nbsp;надаєте;</li>
                <li class="text-align-justify">для постачальників послуг та інших третіх осіб, які ми використовуємо для підтримки нашої діяльності;</li>
                <li class="text-align-justify">поширення сукупної&nbsp;інформації&nbsp;про наших користувачів та інформації, яка не стосується конкретної&nbsp;особи;</li>
                <li class="text-align-justify">з будь-якою іншою метою, розкритою нами, коли ви надаєте інформацію.</li>
            </ul>
            <p class="text-align-justify">Ми також можемо розкрити вашу особисту інформацію в наступних випадках:</p>
            <ul>
                <li class="text-align-justify">дотримання розпоряджень судів України, законодавства України чи судових процесів, включаючи відповідь на запити та розпорядження урядових установ України&nbsp;(в т. ч. Міністерства&nbsp;освіти і науки України, до відання якого відноситься Університет);</li>
                <li class="text-align-justify">випадки, коли&nbsp;розкриття інформації є необхідним для&nbsp;захисту прав, власності чи безпеки Університету, наших працівників та студентів чи інших&nbsp;осіб.</li>
            </ul>
            <p><strong>6. Політика використання Cookies</strong></p>
            <p class="text-align-justify">Файли Cookies - це невеликі текстові файли, які веб-сайти можуть розміщувати на вашому комп’ютері чи мобільному пристрої під час першого відвідування сайту чи сторінки. Файл Cookies допоможе нашому Веб-сайту чи іншому веб-сайту розпізнати ваш пристрій під час наступного відвідування. Наприклад, Cookies-файли можуть допомогти нам запам'ятати ваше ім’я користувача та налаштування, проаналізувати, наскільки добре працює наш Веб-сайт, або навіть дозволити нам запропонувати вміст, на який, на наш погляд, є найбільш відповідним для вас.</p>
            <p class="text-align-justify">Ми використовуємо файли Cookies для таких цілей:</p>
            <ul>
                <li class="text-align-justify">забезпечення роботи інтерактивних елементів Веб-сайту. Їх використання є необхідним для правильної роботи персоналізованих новин, визначення термінів оплати і&nbsp;розкладу. Використання Cookies є необхідним для правильної роботи функції автентифікації за допомогою&nbsp;Особистого кабінету користувача;</li>
                <li class="text-align-justify">покращення якості вмісту та функціоналу Веб-сайту Університету. Ми працюємо над вдосконаленням роботи нашого Веб-сайту, і для цього нам потрібно вивчати, які його сторінки найчастіше відвідуються, поширюються користувачами у соціальних мережах, а також мають значні недоліки;</li>
                <li class="text-align-justify">збір аналітичних даних. Ми використовуємо узагальнені аналітичні дані для аналізу особливостей відвідуваності, планування робіт та дослідження&nbsp;ефективності донесення опублікованих Університетом матеріалів в мережі Інтернет.</li>
            </ul>
            <p class="text-align-justify">Більшість браузерів дозволяють&nbsp;вимкнути файли Cookies. Це можливо зробити через&nbsp;меню "параметри" або "довідка" у браузері. Вимкнення файлів Cookies може обмежити&nbsp;використання функціоналу Веб-сайту та/або затримати чи іншим чином&nbsp;вплинути на&nbsp;його роботу.</p>
            <p><strong>7. Інструменти для відслідковування та аналізу активності користувачів</strong></p>
            <p class="text-align-justify">Для здійснення відслідковування та аналізу відвідуваності Веб-сайту ми використовуємо відповідні можливості наступних сервісів:</p>
            <ul>
                <li class="text-align-justify"><strong>Google Analytics</strong>&nbsp;(інструмент аналізу веб-трафіку). З Політикою&nbsp;конфіденційності Google Analytics можна ознайомитись за адресою:<br><a href="https://marketingplatform.google.com/about/analytics/terms/us/" target="_new">https://marketingplatform.google.com/about/analytics/terms/us/</a>;</li>
            </ul>
            <p><strong>8. Зміни до Політики конфіденційності</strong></p>
            <p class="text-align-justify">Університет може вносити зміни до даної Політики конфіденційності на свій розсуд без попередження. Дізнатись, чи відбувались зміни до&nbsp;Політики конфіденційності можливо за допомогою відслідковування дати&nbsp;зміни&nbsp;редакції даного документу.</p>
            <p><strong>9. Захист даних</strong></p>
            <p class="text-align-justify">Надана вами Особиста інформація,&nbsp;зберігається на захищеному системою обмеження несанкціонованого доступу сервері, доступному лише адміністратору. Веб-сайт використовує&nbsp;SSL. Ми не можемо гарантувати безпеку вашої особистої інформації під час передачі на наш веб-сайт, оскільки будь-яка передача інформації через Інтернет має притаманні їй ризики. Будь-яка передача особистої інформації відбувається під ваш&nbsp;власний ризик. Ми не несемо відповідальності за обхід будь-яких налаштувань конфіденційності чи заходів безпеки, що містяться на Веб-сайті. Відповідальність за збереження конфіденційних даних для входу, якщо такі є, покладається на користувача.</p>
            <p><strong>10. Запит на зміну та знищення&nbsp;персональних даних</strong></p>
            <p class="text-align-justify">Надішліть нам електронний лист на адресу&nbsp;<a href="mailto:web@oa.edu.ua">web@oa.edu.ua</a>&nbsp;в разі&nbsp;вимоги виправлення чи видалення будь-якої особистої інформації, яка&nbsp;була вами надана нам, або отримати&nbsp;роз'яснення щодо цієї Політики конфіденційності. Ми залишаємо за собою право відмовити у запиті, якщо вважаємо, що це порушило б будь-який закон чи призвело до спотворення інформації. Не є можливим видалення та отримання даних, які було знищено або змінено в ході роботи алгоритмів Сайту.</p>
        </div>
    </div>
</div>